.aside_content_block {
    display: flex;
    align-items: stretch;
    width: 100%;
    // height: calc(100vh - 40px);
}

.aside_block {
    display: flex;
    flex-direction: column;
}

.content_block {
    width: calc(100vw - 320px);
    // min-height: calc(100vh - 40px);
    background-color: rgba(255, 255, 255, 0.1);

    padding: 50px 70px 0px 60px;
}
