.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: $size;
        height: $size;
        border-radius: 50%;
        border-bottom: 4px solid #ff3d00;
        border-left: 4px solid transparent;
    }
}
