.search_block {
    text-align: start;
    margin-bottom: 30px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #e1e1e1;
}

.error {
    font-family: "Lato";
    font-size: 18px;
    color: #e1e1e1;
}
