.btn_create_list {
    width: 247px;
    height: 40px;

    background: #f33f3f;
    border-radius: 6px;
    border: 0;

    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #141414;

    cursor: pointer;
}
