.watchlist_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 247px;
    height: 40px;
    border-radius: 6px;
    background-color: #000;
}

.watchlist_block + .watchlist_block {
    margin-top: 10px;
}

.watchlist_block_active {
    background: #1f1f1f;
}

.watchlist_block_inactive {
    background-color: #000;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        border: 1px solid #f33f3f;
    }
}

.watch_list_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    height: 22px;
    margin: 0 16px 0 12px;
    border-radius: 8px;
    background-color: #d9d9d9;

    font-family: "Bree Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.watchlist_name {
    margin: 0;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e1e1e1;
}
