.btn_block {
    display: flex;
    align-items: center;
    width: 245px;
    height: 35px;
    background: #000000;
    border-radius: 6px;
    border-width: 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);

    cursor: pointer;
}

.btn_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 100%;
}

.btn_text {
    padding-left: 5px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #e1e1e1;
}
