.text_popular_movie {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #e1e1e1;
}

.error {
    font-family: "Lato";
    font-size: 18px;
    color: #e1e1e1;
}
